<div class="page-header">
    <h1>User Login </h1>
</div>

<form ng-submit="main.doLogin(loginData);" >
    <!-- #Username-->
    <label >Username : </label>
    <input class="form-control" type="text" name="username" placeholder="Please Enter Username"
    ng-model = "main.loginData.username">
    <br>
    <!-- #Password-->
    <label >Password : </label>
    <input class="form-control" type="password" name="password" placeholder="Please Enter Password"
    ng-model = "main.loginData.password">
    <br>

    <button class="btn btn-primary" type="submit">Login</button>
    <button type="button" class="btn btn-success" ng-click="main.facebook();">Facebook</button>
</form>

<br>

    <div class="jombotron text-center" ng-show="main.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading....</p>
    </div>

<br>

<div class="row show-hide-message" ng-show="main.successMsg"> 
    <div class="alert alert-success"> {{main.successMsg}}</div>
</div>

 <br>

 <div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">{{main.errorMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="facebook.errorMsg">
    <div class="alert alert-danger">{{facebook.errorMsg}}</div>
</div>